/*width 1650px로 일단 고정*/
.ProductImg{
  cursor: pointer;
}
/*Page*/
.PageWrap{
  height: 900px;
  padding-top: 90px;
  
}
.PageBox{
  margin: 0 auto;
  padding: 30px;
  height: 700px;
  width: 500px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 20px;
}
.PageContent{
font-size: 20px;
}
.PageTitle{
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.PageContent li{
  padding-bottom: 10px;
}

.PageContent ul{
  padding: 0;
  list-style-type: none;
}
.PageContent input{
padding-left: 20px;
border: 1px solid gray;
border-radius: 20px;
}
.PageCheckbox{
  font-size: 18px;
}
.PageContent li>p{
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
.PageBtn{
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.836);
}
.PageContent label::after{
  content: "|";
  margin-right: 10px;
}
/*Nav-Bar*/
.navigation-wrap{
  width: 100%;
}
.navigation-bar{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  
}
.navigation-menu{
width: 100%;
height: 60px;
background-color: darkslategrey;
}
.logo{
  width: 200px;
  background-image:url(/public/logo.png) ;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.searchbar{
  position: relative;
  width: 450px;
  padding-top: 33px;
}
.searchbar input{
  width: 400px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  padding-right: 55px;
}
.search-result{
 position: absolute;
  left: 273px;
  top: 73px;
  width: 500px;
  height: 400px;
  background-color: white;
  z-index: 2;
  display: none; 
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
 
}
.SearchResultBox{
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
}
.show{
  display: block;
}
.search-icon{
  position: relative;
  display: inline;
  top: -3px;
  left: -40px;
  cursor: pointer;
    
}
.util-list{
    position: relative;
    right:0px;

}
.util-list ul{
  list-style-type: none;
}

.util-list li{
  cursor: pointer;
  padding-top: 10px;
  float: left;
  margin: 15px;
  
}

/*Watched-Box*/
.watchedBox{
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: white;
  padding: 5px;
  position: sticky;
  float: right;
  top: 50px;
  }
.watched{
  list-style-type: none;
  display: inline;
  box-sizing: content-box;
  }
  .watched li{
    margin-bottom: 5px;
  }
.watched img{
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
/*Banner*/

/*Carousel*/
.carousel-items img{
  width: 1903px;
  height: 700px;
}
/*Login*/

.naver-btn{
  background: #2db400 url(/public/img-login-naver.png) left 40px center no-repeat ;
  margin-top: 20px;
  text-align: left;
  padding-left: 190px;
  font-weight: bold;
}
.kakao-btn{
  background: #fae12d url(/public/img-login-kakao.png) left 40px center no-repeat;
  color: black;
  text-align: left;
  padding-left: 190px;
  font-weight: bold; 
}
.facebook-btn{
  background: #3c5a9a url(/public/img-login-facebook.png) left 40px center no-repeat;
  text-align: left;
  padding-left: 190px;
  font-weight: bold;
}
/*Join*/
.Join{
  width: 800px;
}
.JoinContent li>p{
width: 220px;
}

.JoinPw-fail{
  position: relative;
  left: 230px;
  top: -15px;
  font-size: 14px;
  color: red;
  display: none;
}

.JoinPh-fail{
  position: relative;
  left: 230px;
  top: -15px;
  font-size: 14px;
  color: red;
  display: none;
}
.Postaddress{
  width: 400px;
  height: 34px;
  font-size: 16px;
}

/*Cart*/
.CartHeader{
  border-bottom: 3px solid red;
}
.CartTable table{
  margin-top: 10px;
}
.CartTable{
  width: 1200px;
  margin: 0 auto;
}
.Cart th{
  height : 150px;
  width: 250px;
}
.CartPlusBtn,.CartMinusBtn{
  width: 30px;
  height: 30px;
  border: 1px solid gray;
}
.CartDeleteBtn{
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.Cart th,.Cart td{
  border-bottom: 1px solid gray;

}

.CartBill th{
  border: 1px solid gray;
  border-top: 3px solid black;
  width: 400px;
  height: 100px;
}
table th:first-child,
table td:first-child{
border-left: 0;
}
table th:last-child,
table td:last-child{
border-right: 0;
}
.CartPrice{
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}
.icon-minus, .icon-equal{
  position: relative;
}


.icon-minus::before{
  position: absolute;
  display: inline-block;
  content: '';
  width: 28px;
  height: 28px;
  left: -15px;
  background: url(/public/icon-minusequal.png) no-repeat;

}
.icon-equal::before{
  position: absolute;
  display: inline-block;
  content: '';
  width: 28px;
  height: 28px;
  left: -15px;
  background: url(/public/icon-minusequal.png) no-repeat -28px 0px;

}






































































.footer{
  width: 100%;
  height: 200px;
  padding-left: 150px;
  background-color: lightgray;
}